//COLORS
$color-primary: #fff;
$color-primary-light: #fff;
$color-primary-dark: #fff;

$color-secondary-light: #fff;
$color-secondary-dark: #fff;

$color-tertiary-light: #fff;
$color-tertiary-dark: #fff;

$color-grey-light-1: #fff;
$color-grey-light-2: #fff;

$color-grey-dark: #fff;
$color-grey-dark-2: #fff;
$color-grey-dark-3: #fff;

$color-white: #fff;
$color-black: #000;

// FONTS
$default-font-size: 0;

//GRID
$grid-width: 0;
$gutter-vertical: 0;
$gutter-vertical-small: 0;
$gutter-horizontal: 0;
$gutter-horizontal-small: 0;
